[Unit]
Description=etcd key-value store backend for rusty-sailor kubernetes cluster
Documentation=https://github.com/AleksanderGondek/rusty-sailor
After=network.target
AssertPathExists={{ installation_dir }}

[Service]
Type=notify
RemainAfterExit=no
GuessMainPID=yes
Restart=no
ExecStart={{ exec_file_path }} --config-file={{ config_file_path }}
OOMPolicy=kill
LimitNOFILE=40000
{{ "\n" }}
